body {
   
    overflow-x: hidden;
    overflow-y: hidden;
    background: lightgrey;
}
.container-fluid {
  padding: 3% 15% 7%;
}

.God {
    font-family: 'Roboto Serif', serif;
     color: black;
     float:right;
     right: 100px;
     position: relative;
     bottom:160px;
}
.thor{
  font-family: "Roboto Serif", serif;
  color:black;
  float: right;
  right: 100px;
  position: relative;
  top: 70px;
}
#same{
  background: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  left: 900px;
  bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#envy{
  background: white;
  border-radius:50% ;
  width: 70px;
  height: 70px;
  position: relative;
  left: 800px;
  bottom: 230px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#obodo{
  background: white;
  border-radius: 50%;
    width: 70px;
  height: 70px;
  position: relative;
  left: 600px;
  bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#dead {
  background:white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  left: 700px;
  
  bottom:160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#circle {
  background: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-family: sans-serif;
  position: relative;
  left: 500px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.polly{
  float: right;
  left:70px ;
  position: relative;
}

.container{
    width:150%;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: justify;
    font-size: 20px;

}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto Serif',serif;
}
.nav-link:hover{
    color: white;
}
@media (max-width:480px){
  .thor{
    position: relative;
    top: 40px;
    left: 45px;
    font-size: 30px;
  }
  .God{
    position: relative;
    top: 50px;
    right: 15px;
    text-align: justify;
    text-align: center;
  }
  .hot{
    width: 90%;
    height: 90%;
    position: relative;
    right: -10px;
  }
  .polly{
    text-align: center;
    position: relative;
    left:-90px;
    top: 90px;
    text-decoration: underline;
    
  }
  #circle{
    position:relative;
    left:10px;
    top: 150px;
  }
  #obodo{
    position: relative;
    left: 170px;
    top: 80px;
  }
  #dead{
    position: relative;
    left: 10px;
    top: 100px;
  }
  #envy{
    position: relative;
    left: 170px;
    top:35px;
  }
  #same{
    position: relative;
    left: 90px;
    top:30px
  }
  body{
    overflow-y: scroll;
  }

}
