body {
    background-color:white;
    overflow-x: hidden;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.title-image {
      width: 250px;
  position: absolute;
  right: 30%;
}
.container1{
    
    position: relative;
    left: 58%;
    top: 160px;
    
}
.container3{
    position: relative;
    left: 64%;
    top:190px;
    font-size:20px;
}
.container2{
    position: relative;
    left: 58%;
    top: 190px;
}
.container4{
    position: relative;
    left: 64%;
    top: 150px;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight:100;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto Serif',serif;
}
.nav-link:hover{
    color: black;
}
.container {
    align-items: center;
    justify-content: center;
    margin: 0;
}
@media (max-width:480px) {
  .title-image{
    position: absolute static;
    right: 10%;
  }
  .container{
    position: absolute;
    display: flex;
    width: 50px;
    right: 40%;
    height: 950px;
  }
  .container4{
    position: relative static;
    left: 50%;
  }
  .container2{
    position: relative static;
    left: 30%;
  }
  .container1{
    position: relative static;
    left:30%;
    top:160px;
  }
  .container3{
    position: relative static;
    left: 50%;
  }
}
